.body { 
    background-color: #E8CEBF;
    margin-bottom:75px;
    margin-right:0;
}


.left-design {
    background-color:#DDAF94;
    width: 30%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    bottom: 2;
    z-index: -10;
    margin:0;
}